/*-------------------------------------//
//  Reset
//-------------------------------------*/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*-------------------------------------//
//  Base
//-------------------------------------*/

*,
*:before,
*:after {
    box-sizing: border-box;
}
html {
    height: 100%;
    -webkit-text-size-adjust: 100%;
}
body {
    height: 100%;
    background-color: #fff;
    color: #4a4a4a;
    font-size: 14px;
    word-wrap: break-word;
    font-family: 'Roboto', sans-serif;
}
a {
    color: inherit;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
img {
    vertical-align: middle;
    -webkit-touch-callout: none;
}
ol, ul, li { list-style: none; }
span, i {
    display: inline-block;
    font-style: normal;
}
input, button, textarea {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    background-color: inherit;
    color: inherit;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #eee inset;
}
